[Bb]in
[Dd]ebug*/
ipch/
obj/
_ReSharper*/
[Rr]elease*/
$tf*/
[Tt]est[Rr]esult*
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.exe
*.filters
*.ilk
*.lib
*.log
*.ncb
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.sln
*.sln.docstates
*.suo
*.tlb
*.tlh
*.user
*.vcxproj
*.vspscc
*.vssscc
Thumbs.db